<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.softsquared.template">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:name=".src.ApplicationClass"
        android:allowBackup="false"
        android:fullBackupContent="false"
        android:icon="@drawable/logo"
        android:label="경기지역 화폐지도"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.Design.NoActionBar"
        tools:ignore="GoogleAppIndexingWarning"
        tools:targetApi="n">
        <activity android:name=".src.main.activities.MainNavigationActivity" ></activity>
        <activity
            android:name=".src.main.activities.SplashActivity"
            android:theme="@style/NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".src.main.activities.CategoryActivity" />
        <activity android:name=".src.main.activities.PlaceInfoActivity" />
        <activity android:name=".src.main.activities.SearchedListActivity" />
        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="82967c534ccf6d551c69d7a9a2d5ecea" />
    </application>
</manifest>